<div class="formContainer">
  <form class="form-signin" (ngSubmit)="onSubmit()" [formGroup]="user">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="form-group">
        <label class="sr-only">First Name</label>
        <input type="text" formControlName="firstName"class="form-control" placeholder="admin" autofocus="">
        <span *ngIf="(user.get('firstName').dirty || submited) && user.get('firstName').hasError('required')" class="text text-danger">First Name is required</span>
    </div>
    <div class="form-group">
        <label class="sr-only">Last Name</label>
        <input type="text" formControlName="lastName"class="form-control" placeholder="admin">
        <span *ngIf="(user.get('lastName').dirty || submited) && user.get('lastName').hasError('required')" class="text text-danger">Last Name is required</span>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" formControlName="email" class="form-control" placeholder="Email address">
        <span *ngIf="(user.get('email').dirty || submited) && user.get('email').hasError('required')" class="text text-danger">Email is required</span>
        <span *ngIf="(user.get('email').dirty || submited) && !user.get('email').hasError('required') && user.get('email').hasError('email')" class="text text-danger">Your email is not correct</span>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" formControlName="password" class="form-control" placeholder="Password">
        <span *ngIf="(user.get('password').dirty || submited) && user.get('password').hasError('required')" class="text text-danger">Password is required</span>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>
</div>