<div class="row">
  <div class="col-3">
      <select class="form-control" [formControl]="usersSelect">
        <option *ngFor="let user of users" [ngValue]="user.value">{{user.name}}</option>
      </select>
  </div>
  <div class="col-3">
    <button class="btn btn-info" (click)="addPost()">Create Post</button>
  </div>
</div>

<div class="row">
  <div class="col-lg-4" *ngFor="let post of posts">
    <app-post [post]="post" (edit)="editPost(post)" 
      (remove)="removePost(post)"
      (addComment)="addComment(post)"
      (OnRemoveComment)="removeComment($event, post)"
      (OnEditComment)="editComment($event, post)"
    ></app-post>
  </div>
</div>

<ng-template #modalTemplate>
  <form class="modelBlock" [formGroup]="modelData" (submit)="onModelSubmit()">
    <div class="form-group">
      <label>Post title</label>
      <input type="text" formControlName="title" class="form-control" aria-describedby="fileHelp">
      <span *ngIf="(modelData.get('title').dirty || modalSubmited) && modelData.get('title').hasError('required')" class="text text-danger">Title is required</span>
    </div>
    <div class="form-group">
      <label>Post message</label>
      <textarea class="form-control" rows="3" formControlName="body"></textarea>
      <span *ngIf="(modelData.get('body').dirty || modalSubmited) && modelData.get('body').hasError('required')" class="text text-danger">Message is required</span>
    </div>
    <button type="submit" class="btn btn-primary">{{modalMode === 'create' ? 'create' : 'update'}}</button>
  </form>
</ng-template>

<ng-template #modalTemplateComment>
  <form class="modelBlock" [formGroup]="modalCommentData" (submit)="onModelCommentSubmit()">
    <div class="form-group">
      <label>Comment</label>
      <input type="text" formControlName="message" class="form-control" aria-describedby="fileHelp">
      <span *ngIf="(modalCommentData.get('message').dirty || modalCommentSubmited) && modalCommentData.get('message').hasError('required')" class="text text-danger">Comment is required</span>
    </div>
    <button type="submit" class="btn btn-primary">{{modalCommentMode === 'create' ? 'create' : 'update'}}</button>
  </form>
</ng-template>